#logo{
    max-width: 200px;
}

h1{
display: none;
}

.card{
    text-align: center;
}

h2{
    text-transform: uppercase;
    font-size: 1.0rem;
    color: black;
}

h5{
    text-transform: uppercase;
    font-size: 1.0rem;
    color: white;
}

.font-menu {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: white;
  }

  .background{
   /** width: 100%;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left,green, rgb(104, 95, 95),red);
    **/
    background: linear-gradient(-45deg, white, #ff606038,rgba(112, 226, 112, 0.486));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
  }

  .navbarcolor{
    background-color: brown;  
}

#cab a:link, #cab a:visited{

    color: #FFF;
    padding: 8px 12px;
}

#cab a:hover{

    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}

.regulartexto{
    max-height: 320px;
}

#ispressed{
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}

.ler-mais-content {
    display: none;
  }
  
.ler-mais-content.show {
    display: block !important;
  }
  
footer {
    bottom: 0;
    width: 100%;
}


